$primary-color: #D0D9EF;
$secondary-color: #DDCCD3;
$accent-color: #7291D0;
$text-color-light: #FFFBFB;
$text-color-dark: #181612;
$font-stack-web-title: 'Montserrat Alternates', sans-serif;
$font-stack-header: 'Hind Madurai', sans-serif;
$font-stack-body: 'Cabin', sans-serif;